{{#if page.attributes.lunr-indexname}}
<script src="{{uiRootPath}}/js/vendor/lunr.js"></script>
<script src="{{uiRootPath}}/js/vendor/search.js" id="search-script" data-root-path="{{or siteRootPath (or site.url siteRootUrl)}}"></script>
<script async src="{{siteRootPath}}/{{page.attributes.lunr-indexname}}"></script>
{{/if}}
